.terraform/*
*.idea
projects/league_of_legends_leaderboard/vagrant/.vagrant/*
projects/league_of_legends_leaderboard/terraform/.terraform/*
terraform/create_an_ec2_instance/terraform/.terraform/*
*tfstate
*.tfstate.backup